.content {
  padding-bottom: 92px;
  margin: 0 auto 0;
  max-width: 984px;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .content {
    width: 100%;
    padding-bottom: 88px;
  }
}
@media screen and (max-width: 544px) {
  .content {
    width: 100%;
    padding-bottom: 64px;
  }
}
