.intro {
  max-width: 830px;
  padding: 0 302px 118px 148px;
  padding-bottom: 118px;
}
.intro__title {
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}
.intro__quote {
}
.intro__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.625;
}
@media screen and (max-width: 1024px) {
  .intro {
    max-width: 720px;
    padding: 0;
    margin: 0 auto 0;
  }
  .intro__title {
    font-size: 45px;
    line-height: 1.088;
  }
}
@media screen and (max-width: 544px) {
  .intro {
    max-width: 288px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 1.09375;
  }
}
