.quote {
  margin: 0;
  padding: 40px 0 32px;
  display: flex;
  flex-flow: column nowrap;
}
.quote__text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 34px;
}
.quote__author {
  margin: 0;
  text-align: end;
  font-size: 24px;
  font-style: normal;
  line-height: 34px;
}
@media screen and (max-width: 1024px) {
  .quote {
    padding: 50px 0 32px;
  }
  .quote__text {
    margin: 0;
  }
}
@media screen and (max-width: 544px) {
  .quote {
    padding: 40px 0 32px;
  }
  .quote__text {
    line-height: 1.25em;
    margin-bottom: 10px;
  }
}
